[submodule "skeleton/vendor/glfw/glfw"]
	path = skeleton/vendor/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "skeleton/vendor/zeux/volk"]
	path = skeleton/vendor/zeux/volk
	url = https://github.com/zeux/volk
